
.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    background-color: white;
  }
  

  .intro-logo {
    width: 500px;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInZoom 1.5s forwards;
  }
  
 
  @keyframes fadeInZoom {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  
  .fade-out {
    animation: fadeOutZoom 1s forwards;
  }
  
  
  @keyframes fadeOutZoom {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.7);
    }
  }
  